body,
html {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  background-size: cover;
  background-color: black;
  font-family: 'Tangerine', serif;
  background: url("https://upload.wikimedia.org/wikipedia/commons/2/28/Albert_Einstein_Head_cleaned.jpg") no-repeat center center fixed;

}

.title {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 4em;
  margin-top: 100px;
}

.opinion{
	font-family: Helvetica, Arial, sans-serif;
	color: white;
  	text-shadow: 4px 4px 4px #aaa;
  	font-size: 2em;
}


.quote-button {
  padding: 10px;
  border-radius: 50px;
  color: white;
  outline-color: white;
  margin-top: 30px;
}

.quote {
  font-family: 'Cardo', serif;
  font-size: 2em;
  width: 575px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  color: #000;
  box-shadow: -10px 10px 20px rgba(100, 100, 100, .8);
  ;
}

.author {
  font-style: italic;
}